/* line 1, helpers/_utilities.scss */
.clearfix {
  content: '';
  display: block;
  clear: both;
}

/* line 1, base/_generic-settings.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 7, base/_generic-settings.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 12, base/_generic-settings.scss */
body {
  position: relative;
  text-align: center;
}

/* line 17, base/_generic-settings.scss */
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}

/* line 21, base/_generic-settings.scss */
h1 {
  margin: 0;
}

/* line 25, base/_generic-settings.scss */
h2 {
  margin-bottom: 35px;
}

/* line 29, base/_generic-settings.scss */
section {
  padding: 190px 0 80px;
}

/* line 33, base/_generic-settings.scss */
.section-description {
  margin-bottom: 60px;
}

/* line 1, base/_elements-style.scss */
body {
  color: #fff;
  background: #000;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* line 8, base/_elements-style.scss */
h1 {
  font-size: 50px;
  font-family: 'Damion', cursive;
  line-height: 38px;
}

/* line 14, base/_elements-style.scss */
h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 50px;
}

/* line 20, base/_elements-style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 24, base/_elements-style.scss */
.section-description {
  color: #ffcccf;
}

/* line 28, base/_elements-style.scss */
a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

/* line 1, layout/_header.scss */
header {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
  z-index: 9999999999999999999999999999999999999999999999999999999999999999999;
}
/* line 10, layout/_header.scss */
header .header-nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 40px 25px 16px;
  margin: 0 5px;
  border-radius: 0 0 5px 5px;
}

/* line 19, layout/_header.scss */
.header-nav-link.hero.active {
  background: #74c7d5;
}

/* line 23, layout/_header.scss */
.header-nav-link.services.active {
  background: #df5c64;
}

/* line 27, layout/_header.scss */
.header-nav-link.about.active {
  background: #91778e;
}

/* line 31, layout/_header.scss */
.header-nav-link.work.active {
  background: #a1ca6c;
}

/* line 35, layout/_header.scss */
.header-nav-link.contacts.active {
  background: #82c8bd;
}

/* line 1, layout/_sticky-footer.scss */
#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* line 6, layout/_sticky-footer.scss */
#site #site-content {
  flex: 1;
}

/* line 1, layout/_footer.scss */
footer {
  background: #68a097;
  padding: 40px 0 50px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
/* line 5, layout/_footer.scss */
footer ul {
  list-style: none;
}
/* line 7, layout/_footer.scss */
footer ul .footer-social-list-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #82c8bd;
  cursor: pointer;
  transition: all .3s;
}
/* line 12, layout/_footer.scss */
footer ul .footer-social-list-item .fa {
  line-height: 40px;
}
/* line 15, layout/_footer.scss */
footer ul .footer-social-list-item.fb:hover {
  background: #4f689e;
}
/* line 18, layout/_footer.scss */
footer ul .footer-social-list-item.twitter:hover {
  background: #74c7d5;
}
/* line 21, layout/_footer.scss */
footer ul .footer-social-list-item.google:hover {
  background: #df5c64;
}
/* line 24, layout/_footer.scss */
footer ul .footer-social-list-item.linkedin:hover {
  background: #3e61af;
}
/* line 28, layout/_footer.scss */
footer ul li {
  float: left;
  margin: 0 20px;
}
/* line 31, layout/_footer.scss */
footer ul li:after {
  content: '';
  display: block;
  clear: left;
}

/* line 1, layout/_container.scss */
.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

/* line 1, sections/_hero.scss */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
}
/* line 7, sections/_hero.scss */
#hero #hero-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 66;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.3);
  color: #74c7d5;
  padding: 30px 65px 30px 40px;
  border-radius: 5px;
}

/* line 19, sections/_hero.scss */
#hero-text-wrapper #GIC {
  text-align: right;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 44px;
}
/* line 25, sections/_hero.scss */
#hero-text-wrapper #first {
  font-size: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 80px;
}

/* line 1, sections/_services.scss */
#services {
  background: #b24a50;
}
/* line 3, sections/_services.scss */
#services #subtitle {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
/* line 8, sections/_services.scss */
#services .section-description {
  margin-bottom: 120px;
}

/* line 13, sections/_services.scss */
#subtitle #subtitle-link {
  color: #ec9da2;
}

/* line 17, sections/_services.scss */
#services-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 19, sections/_services.scss */
#services-wrapper .service {
  width: 215px;
  padding: 50px 25px 45px;
  background-color: #c8535a;
  margin: 10px;
  border-radius: 5px;
}

/* line 29, sections/_services.scss */
.service h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 20px;
}
/* line 35, sections/_services.scss */
.service .service-description {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fefefe;
}

/* line 41, sections/_services.scss */
.transparent-circle-with-border {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: transparent;
  border: 5px solid #fff;
  margin: 0 auto 35px;
}
/* line 47, sections/_services.scss */
.transparent-circle-with-border .white-circle {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
/* line 52, sections/_services.scss */
.transparent-circle-with-border .white-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 1, sections/_about.scss */
#about {
  background: #665464;
}
/* line 3, sections/_about.scss */
#about #MTT {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 25px;
  padding: 15px 40px;
  background: #a1ca6c;
  display: inline-block;
  margin: 0 auto 70px;
  border-radius: 5px;
  position: relative;
}
/* line 12, sections/_about.scss */
#about #MTT:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 16px 0 16px;
  border-color: #a1ca6c transparent transparent transparent;
}

/* line 27, sections/_about.scss */
#team-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 29, sections/_about.scss */
#team-wrapper .team-member-card {
  background: rgba(77, 63, 75, 0.5);
  width: 215px;
  margin: 10px;
  padding: 50px 25px 30px 25px;
  border-radius: 5px;
  transition: all .3s;
}

/* line 39, sections/_about.scss */
.team-member-circle {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  position: relative;
  background: #fff;
  border: 5px solid #a1859e;
  margin: 0 auto 30px;
  transition: all .3s;
}
/* line 46, sections/_about.scss */
.team-member-circle img {
  padding-top: 10px;
  transition: all .3s;
}
/* line 50, sections/_about.scss */
.team-member-circle .hover-img {
  padding-top: 10px;
  display: none;
  transition: all .3s;
}

/* line 58, sections/_about.scss */
.team-member-card h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 21px;
  color: #c7b6c5;
  margin-bottom: 15px;
  transition: all .3s;
}
/* line 65, sections/_about.scss */
.team-member-card .position {
  color: #a1ca6c;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  transition: all .3s;
}
/* line 71, sections/_about.scss */
.team-member-card ul {
  list-style: none;
}
/* line 73, sections/_about.scss */
.team-member-card ul .team-social-list-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #a1859e;
  transition: all .3s;
}
/* line 77, sections/_about.scss */
.team-member-card ul .team-social-list-item .fa {
  cursor: pointer;
  line-height: 30px;
}
/* line 82, sections/_about.scss */
.team-member-card ul li {
  float: left;
  width: 30px;
  margin: 0 5px;
}
/* line 86, sections/_about.scss */
.team-member-card ul li:after {
  content: '';
  display: block;
  clear: left;
}

/* line 94, sections/_about.scss */
.team-member-card:hover {
  background: rgba(77, 63, 75, 0.8);
}
/* line 96, sections/_about.scss */
.team-member-card:hover .team-member-circle {
  border-color: #df5c64;
}
/* line 98, sections/_about.scss */
.team-member-card:hover .team-member-circle img {
  display: none;
}
/* line 101, sections/_about.scss */
.team-member-card:hover .team-member-circle .hover-img {
  display: inline-block;
}
/* line 105, sections/_about.scss */
.team-member-card:hover h4 {
  color: #fff;
}
/* line 108, sections/_about.scss */
.team-member-card:hover .position {
  color: #ff8973;
}
/* line 112, sections/_about.scss */
.team-member-card:hover .team-social-list-item.fb {
  background: #4f689e;
}
/* line 115, sections/_about.scss */
.team-member-card:hover .team-social-list-item.twitter {
  background: #74c7d5;
}
/* line 118, sections/_about.scss */
.team-member-card:hover .team-social-list-item.google {
  background: #df5c64;
}
/* line 121, sections/_about.scss */
.team-member-card:hover .team-social-list-item.linkedin {
  background: #3e61af;
}

/* line 1, sections/_work.scss */
#work {
  background-color: #81a256;
}
/* line 3, sections/_work.scss */
#work #portfolio-filter-links-wrapper {
  border-top: 1px solid #94b963;
  border-bottom: 1px solid #94b963;
  height: 100px;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 11, sections/_work.scss */
#work #portfolio-filter-links-wrapper h5 {
  font-size: 20px;
  font-weight: 700;
}
/* line 15, sections/_work.scss */
#work #portfolio-filter-links-wrapper .button {
  padding: 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  transition: all .3s;
  float: left;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
/* line 27, sections/_work.scss */
#work #portfolio-filter-links-wrapper .button:hover, #work #portfolio-filter-links-wrapper .button.is-checked {
  background-color: #f5c149;
}
/* line 32, sections/_work.scss */
#work #grid-container {
  display: grid;
  grid-template-columns: 225px 225px 225px 225px;
  grid-gap: 20px;
}
/* line 36, sections/_work.scss */
#work #grid-container .grid-item {
  width: 215px;
  height: 205px;
  background: #fff;
  color: #727272;
  border-radius: 5px;
}
/* line 42, sections/_work.scss */
#work #grid-container .grid-item .grid-img {
  width: 215px;
  height: 165px;
  border-radius: 5px 5px 0 0;
}
/* line 47, sections/_work.scss */
#work #grid-container .grid-item p {
  line-height: 50px;
}

/* line 1, sections/_contacts.scss */
#contact-us {
  background-color: #75b4aa;
}
/* line 3, sections/_contacts.scss */
#contact-us .section-description {
  margin-bottom: 120px;
}
/* line 6, sections/_contacts.scss */
#contact-us h6 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 20px;
}

/* line 14, sections/_contacts.scss */
#contacts-map-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
/* line 17, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper {
  width: 50%;
  text-align: left;
}
/* line 20, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper #inputs-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
/* line 23, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper #inputs-wrapper input {
  width: 48%;
  height: 30px;
  background-color: #68a097;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #82c8bd;
  transition: all .3s;
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
}
/* line 33, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper #inputs-wrapper input:focus {
  background: #fff;
}
/* line 36, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper #inputs-wrapper input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 39, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper #inputs-wrapper input:focus:-moz-placeholder {
  color: transparent;
}
/* line 43, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper #inputs-wrapper input:focus::-moz-placeholder {
  color: transparent;
}
/* line 47, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper #inputs-wrapper input:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 53, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper textarea {
  width: 100%;
  height: 130px;
  background-color: #68a097;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  resize: none;
  color: #82c8bd;
  margin-bottom: 30px;
  transition: all .3s;
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */
}
/* line 65, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper textarea:focus {
  background: #fff;
}
/* line 68, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 71, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper textarea:focus:-moz-placeholder {
  color: transparent;
}
/* line 75, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper textarea:focus::-moz-placeholder {
  color: transparent;
}
/* line 79, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 84, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper button.uppercase {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  box-shadow: inset 0 -4px 0 rgba(178, 74, 80, 0.5);
  background-color: #df5c64;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  cursor: pointer;
  transition: all .3s;
}
/* line 98, sections/_contacts.scss */
#contacts-map-form-wrapper #form-wrapper button.uppercase:hover {
  background: #ff1529;
}
/* line 103, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper {
  width: 25%;
  padding-bottom: 19px;
}
/* line 106, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
/* line 111, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper h6 {
  margin-bottom: 20px;
}
/* line 114, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper #brand-text {
  color: #c0dfda;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
/* line 120, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper address {
  font-style: normal;
}
/* line 122, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper address #address {
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 126, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper address #contacts {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 20px;
}
/* line 129, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper address #contacts span {
  color: #d0efea;
}
/* line 132, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper address #contacts span:last-of-type {
  color: #fff;
}
/* line 134, sections/_contacts.scss */
#contacts-map-form-wrapper #contacts-and-map-wrapper #contacts-wrapper address #contacts span:last-of-type #email {
  text-decoration: underline;
}
/* line 142, sections/_contacts.scss */
#contacts-map-form-wrapper #map {
  width: 25%;
  height: 180px;
  background: #000;
  display: inline-block;
  border-radius: 5px;
  margin: 0 50px 35px 40px;
}

/*# sourceMappingURL=style.css.map */
