@mixin after-before {
  content: '';
  position: absolute;
}

@mixin flex-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin lato ($weight: 400) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}