@mixin after-before ($content) {
  content: $content;
  display: block;
}

@mixin flex-container ($justify-content, $wrap) {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}

@mixin lato ($weight: 400) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}


@mixin centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin circle ($px) {
  width: $px;
  height: $px;
  border-radius: 50%;
}