@mixin after-before {
  content: '';
  position: absolute;
}

@mixin flex-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin lato ($weight: 400) {
  font-family: 'Lato', sans-serif;
  font-weight: $weight;
}


@mixin centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}