#contact-us {
  background-color: #75b4aa;
  .section-description {
    margin-bottom: 120px;
  }
  h6 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 20px;
  }
}

#contacts-map-form-wrapper {
  width: 100%;
  @include flex-container(space-between, nowrap);
  @media screen and (max-width: 815px) {
    flex-wrap: wrap;
  }
  #form-wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    @media screen and (max-width: 815px) {
      width: 80%;
    }
    #inputs-wrapper {
      @include flex-container(space-between, nowrap);
      margin-bottom: 20px;
      input {
        width: 48%;
        height: 30px;
        background-color: #68a097;
        border: none;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 16px;
        color: $contactsNavAndPlaceholderAndFooterSocialBgClr;
        transition: all .3s;
        &:focus {
          background: #fff;
        }
        &:focus::-webkit-input-placeholder {
          color: transparent;
        }
        &:focus:-moz-placeholder {
          color: transparent;
        }
        /* FF 4-18 */
        &:focus::-moz-placeholder {
          color: transparent;
        }
        /* FF 19+ */
        &:focus:-ms-input-placeholder {
          color: transparent;
        }
        /* IE 10+ */
      }
    }
    textarea {
      width: 100%;
      height: 130px;
      background-color: #68a097;
      border: none;
      border-radius: 5px;
      padding: 20px;
      font-size: 16px;
      resize: none;
      color: $contactsNavAndPlaceholderAndFooterSocialBgClr;
      margin-bottom: 30px;
      transition: all .3s;
      &:focus {
        background: #fff;
      }
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
      /* FF 4-18 */
      &:focus::-moz-placeholder {
        color: transparent;
      }
      /* FF 19+ */
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      /* IE 10+ */
    }
    button.uppercase {
      display: block;
      margin: 0 auto;
      width: 50%;
      height: 50px;
      box-shadow: inset 0 -4px 0 rgba(178, 74, 80, 0.5);
      background-color: #df5c64;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-size: 26px;
      font-weight: 900;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        background: #ff1529;
      }
    }
  }
  #contacts-wrapper {
    width: 25%;
    padding-bottom: 19px;
    display: inline-block;
    text-align: left;
    margin-bottom: 50px;
    @media screen and (max-width: 635px) {
      width: 32%;
    }
    @media screen and (max-width: 495px) {
      width: 45%;
      margin: 0 auto 50px;
    }
    @media screen and (max-width: 350px) {
      width: 80%;
    }
    h6 {
      margin-bottom: 20px;
    }
    #brand-text {
      color: #c0dfda;
      font-size: $bigFZ;
      font-weight: 700;
      margin-bottom: 30px;
    }
    address {
      font-style: normal;
      #address {
        font-size: $smallFZ;
        margin-bottom: 10px;
      }
      #contacts {
        @include flex-container(space-between, wrap);
        line-height: 20px;
        span {
          color: #d0efea;
        }
        span:last-of-type {
          color: #fff;
          #email {
            text-decoration: underline;
          }
        }
      }
    }
  }
  #map {
    width: 25%;
    height: 180px;
    background: #000;
    display: inline-block;
    border-radius: 5px;
    margin: 0 50px 35px 40px;
    @media screen and (max-width: 815px) {
      width: 35%;
    }
    @media screen and (max-width: 495px) {
      width: 80%;
      height: 50vh;
    }
  }
}