// Sizes

//Main FZ:
$bodyFZ: 14px;
$smallFZ: 16px;
$mediumFZ: 18px;
$bigFZ: 20px;

// Colors

$heroClr: #74c7d5;
$teamRectangleClr: #4d3f4b;
$contactsNavAndPlaceholderAndFooterSocialBgClr: #82c8bd;
$contactsFormAndFooter: #68a097;